<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
	<meta charset="UTF-8">
	<title>List of vets</title>
</head>
<body>
	<h2 th:text="'List of vets'">Vets list</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Specialities</th>
			</tr>
		</thead>
		<tr th:each="vet : ${vets}">
			<td th:text="${vet.id}">1</td>
			<td th:text="${vet.firstName}">Joe</td>
			<td th:text="${vet.lastName}">Buck</td>
			<td>
				<span th:each="speciality : ${vet.specialities}" 
				th:text="${speciality.description + ' '}"></span>
				<span th:if="${vet?.specialities?.size() == 0}">None</span>
			</td>
		</tr>
	</table>
</body>
</html>